
.preview_top {
    display: flex;
}

.preview_images_container {
    margin: 2vw;
}

.preview_top_image {
    border-radius: 10px;
    height: 30vw;
    max-height: 250px;
    min-height : 160px;
    width: 30vw;
    max-width: 250px;
    min-width : 160px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    position: relative;
}

.preview_images_container {
    position: relative;
}

.overlay_image {
    background-color: #00000080;
    margin: auto;
    border-radius: 10px;
    height: 30vw;
    max-height: 250px;
    min-height : 160px;
    width: 30vw;
    max-width: 250px;
    min-width : 160px;
    display: flex;
    position: absolute;
    top: 0;
    opacity: 0;

}

.overlay_text {
    border: solid #ffffff 1px;
    border-radius: 4px;
    padding: 20px;
    color: #ffffff;
    font-weight: 200;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: auto;
}
.overlay_image:hover {
    opacity: 1;
    transition: 0.2s;
}

@media (max-width: 767px) {
    .preview_top_image, .overlay_image, .overlay_text{
        display: none;
    }
}