/*
This is used exclusively for properties that change based on screen size
*/

@media(min-width: 1519px){

    .preview_top_image {
    width: 250px;
    height: 250px;
    }

    .all_content {
        width: 80%;
    }

    .property_preview {
        width: 100%;
    }

    .additional_image_window {
        height: 308px;
        width: 308px;
    }

    .additional_image_preview {
        height: 148px;
        width: 148px;
    }

    .property_preview_details {
        width: 50%;
        height: 300px;
    }

    .property_preview_details h3{
        margin: 20px auto 2px 10px;
    }

}


@media(min-width: 1285px) and (max-width: 1518px){   

    .preview_top_image {
    width: 250px;
    height: 250px;
    }

    .all_content {
        width: 80%;
    }

    .property_preview {
        width: 100%;
    }

    .additional_image_window {
        height: 308px;
        width: 308px;
    }

    .additional_image_preview {
        height: 148px;
        width: 148px;
    }

    .property_preview_details {
        width: 40%;
    }

    .property_preview_details h3{
        font-size: 30px;
        margin: 20px auto 2px 10px;
    }

    .property_preview_amenities, .property_amenities {
        display: flex;
        padding: 10px;
        border-bottom: solid #808080 1px;
    }

    .property_preview_amenities li, .property_amenities li {
        list-style: none;
        color: #353535;
        padding: 0 10px;
    }

    .property_preview_details p {
        margin: 10px;
    }
}

@media(min-width: 1051px) and (max-width: 1284px){

    .preview_top_image {
    width: 250px;
    height: 250px;
    
    }

    .all_content {
        width: 98%;
    }

    .property_preview {
        width: 100%;
    }

    .additional_image_window {
        height: 308px;
        width: 308px;
        display: flex;
        flex-direction: column;
    }

    .additional_image_preview {
        height: 148px;
        width: 148px;
    }

    .property_preview_details {
        width: 40%;
        height: 300px;
    }

    .property_preview_details h3{
        font-size: 30px;
        margin: 20px auto 2px 10px;
    }

    .property_preview_amenities, .property_amenities {
        display: flex;
        padding: 10px;
        border-bottom: solid #808080 1px;
    }

    .property_preview_amenities li, .property_amenities li {
        list-style: none;
        color: #353535;
        padding: 0 10px;
    }

    .property_preview_details p {
        margin: 10px;
    }
}

@media(min-width: 1051px) {
    .welcome_title {
    }

    .welcome_second_title {
    }
}

@media (min-width: 600px) and (max-width: 1050px) {
    
    .welcome_title {
        font-size: 40px;
    }

    .welcome_second_title {
        font-size: 20px;
    }
}

@media (max-width: 599px) {
    .welcome_title {
        font-size: 30px;
    }

    .welcome_second_title {
        font-size: 20px;
    }
}

@media (min-width: 787px) and (max-width: 1050px) {

    .preview_top_image {
    width: 250px;
    height: 250px;

    }
    
    .all_content {
        width: 98%;
    }
    
    .property_preview {
        width: 100%;
    }
    
    .additional_image_window {
        height: 308px;
        width: 308px;
        display: flex;
        flex-direction: column;
    }
    
    .additional_image_preview {
        height: 148px;
        width: 148px;
    }
    
    .property_preview_details {
        width: 60%;
        height: 300px;
    }
    
    .property_preview_details h3{
        font-size: 30px;
        margin: 20px auto 2px 10px;
    }
    
    .property_preview_amenities, .property_amenities {
        display: flex;
        padding: 10px;
        border-bottom: solid #808080 1px;
    }
    
    .property_preview_amenities li, .property_amenities li {
        list-style: none;
        color: #353535;
        padding: 0 10px;
    }
    
    .property_preview_details p {
        margin: 10px;
    }
    
    .row_2 {
        height: 0;
        width: 0;
    }
}

@media (min-width: 787px) {
    .property_preview {
        margin: 6vh auto;
    }

    .all_content {
        margin: 20vh auto;
    }
    
}

@media (max-width: 786px) {

    .all_content {
        margin: 8vh auto;
    }
    
    .preview_top_image {
        height: 0;
        width: 0;
    }
    
    .all_content {
        width: 98%;
    }
    
    .property_preview {
        margin: 2vh auto;
        flex-direction: column;
        padding: 0;
    }
    
    .additional_image_window {
        height: 0;
        width: 0;
        display: flex;
        flex-direction: column;
    }

    .main_preview_image {
        margin: 0 auto;
    }
    
    .additional_image_preview {
        height: 0;
        width: 0;
    }
    
    .property_preview_details {
        height: 200px;
        margin: 0 auto;
    }
    
    .property_preview_details h3{
        font-size: 30px;
        margin: 0 auto 2px 10px;
    }
    
    .property_preview_amenities, .property_amenities {
        display: flex;
        padding: 10px;
        border-bottom: solid #808080 1px;
    }
    
    .property_preview_amenities li, .property_amenities li {
        list-style: none;
        color: #353535;
        padding: 0 10px;
    }
    
    .property_preview_details p {
        margin: 10px;
    }
    
    .row_2 {
        height: 0;
        width: 0;
    }

    .row_1 {
        height: 0;
        width: 0;
    }
}